/*CreandOh*/
#section-mopka-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) var(--pf-padding-m)
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-mopka-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-mopka-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
  background-color: white;
}
.div-mopka-main-image > img {
  width: 100%;
  object-position: 0 -230px;
  object-fit: contain;
}
.ul-mopka-main {
  width: 900px;
  height: auto;
  gap: 20px;
  margin-top: var(--pf-margin-s);
  flex-wrap: wrap;
}
.ul-mopka-main > li {
  width: auto;
  font-weight: 400;
  font-size: 17px;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

/*Article-focus-mopka*/
.article-mopka-focus,
.article-mopka-goals,
.article-mopka-projects,
.article-mopka-method,
.article-mopka-learning {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}
.article-mopka-focus > h3,
.article-mopka-goals > h3,
.article-mopka-projects > h3,
.article-mopka-method > h3,
.article-mopka-learning > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}
.div-scheme-mopka {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.big-icon-scheme-graphic-design {
  height: 60px;
  width: 60px;
}
.big-icon-scheme-graphic-design:last-of-type {
  color: var(--pf-color4);
}
.big-icon-scheme-graphic-design:last-of-type:hover {
  color: var(--pf-color5);
}
.article-mopka-focus > p,
.article-mopka-goals > p,
.article-mopka-projects > p,
.article-mopka-method > p,
.article-mopka-learning > p {
  width: 100%;
  text-align: justify;
}
.div-images-focus-mopka {
  width: 100%;
  height: auto;
  gap: 30px;
  margin-top: var(--pf-margin-s);
}
.div-images-focus-mopka > img {
  width: 340px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
  object-fit: cover;
}

/*Article-goals-mopka*/
.div-mopka-goals-img1 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-l) 0;
  gap: 30px;
}
.div-mopka-goals-img1 > img {
  width: 550px;
  height: 380px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
  object-fit: cover;
}
.div-mopka-goals-img2 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-l) 0 var(--pf-margin-s) 0;
}
.div-mopka-goals-img2 > img {
  width: 950px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-procces-mopka*/
.div-mopka-projects-img1 {
  width: 100%;
  height: auto;
  gap: 30px;
  margin: var(--pf-margin-s) 0 var(--pf-margin-xl) 0;
}
.div-mopka-projects-img1 > img {
  width: 340px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
  object-fit: cover;
}
.div-mopka-projects-img2 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-m) 0;
  gap: 30px;
}
.div-mopka-projects-img2 > img {
  width: 530px;
  height: 380px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
  object-fit: cover;
}

/*Article-method-mopka*/
.div-mopka-method-img1 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-l) 0;
  gap: 30px;
}
.div-mopka-method-img1 > img {
  width: 530px;
  height: 380px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
  object-fit: cover;
}
.div-mopka-method-img2 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-l) 0 var(--pf-margin-s) 0;
}
.div-mopka-method-img2 > img {
  width: 950px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-learning-mopka*/
.div-mopka-learning-img1,
.div-mopka-learning-img2 {
  width: 100%;
  height: auto;
  margin: var(--pf-margin-l) 0 var(--pf-margin-s) 0;
}
.div-mopka-learning-img1 > img,
.div-mopka-learning-img2 > img {
  width: 950px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-mopka-link*/
.article-mopka-link {
  height: 100px;
  gap: 10px;
}
.article-mopka-link > a {
  color: var(--pf-color6);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.article-mopka-link > a:hover {
  color: var(--pf-color5);
}
.logo-link-mopka {
  color: var(--pf-color6);
  height: 40px;
  width: 40px;
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-mopka-main-image {
    width: 1000px;
    height: 220px;
  }
  .div-mopka-main-image > img {
    object-position: 0 -200px;
  }
  .ul-mopka-main {
    gap: 15px;
  }
  .ul-mopka-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-mopka-focus,
  .article-mopka-goals,
  .article-mopka-projects,
  .article-mopka-method,
  .article-mopka-learning {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-graphic-design {
    height: 55px;
    width: 55px;
  }
  .article-mopka-focus > p,
  .article-mopka-goals > p,
  .article-mopka-projects > p,
  .article-mopka-method > p,
  .article-mopka-learning > p {
    width: 950px;
    text-align: justify;
  }
  .article-mopka-focus > h3,
  .article-mopka-goals > h3,
  .article-mopka-projects > h3,
  .article-mopka-method > h3,
  .article-mopka-learning > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-mopka {
    width: 100%;
    height: auto;
    gap: 30px;
    margin-top: var(--pf-margin-s);
  }
  .div-images-focus-mopka > img {
    width: 340px;
    height: 450px;
  }
  .div-mopka-goals-img1 {
    width: 100%;
    height: auto;
    margin: var(--pf-margin-l) 0;
    gap: 30px;
  }
  .div-mopka-goals-img1 > img {
    width: 550px;
    height: 380px;
  }
  .div-mopka-goals-img2 {
    width: 100%;
    height: auto;
    margin: var(--pf-margin-l) 0 var(--pf-margin-s) 0;
  }
  .div-mopka-goals-img2 > img {
    width: 930px;
    height: 500px;
  }
}
@media (max-width: 1300px) {
  .div-mopka-main-image {
    width: 750px;
    height: 200px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-mopka-main-image > img {
    object-position: 0 -140px;
  }
  .ul-mopka-main {
    gap: 15px;
    width: 700px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-mopka-main > li {
    font-size: 14px;
    width: auto;
    gap: 15px;
    letter-spacing: 1.2px;
    height: auto;
  }
  .article-mopka-focus,
  .article-mopka-goals,
  .article-mopka-projects,
  .article-mopka-method,
  .article-mopka-learning {
    width: 800px;
    padding: var(--pf-padding-m) var(--pf-padding-m);
  }
  .article-mopka-focus > p,
  .article-mopka-goals > p,
  .article-mopka-projects > p,
  .article-mopka-method > p,
  .article-mopka-learning > p {
    width: 100%;
    line-height: 2.2;
  }
  .article-mopka-focus > h3,
  .article-mopka-goals > h3,
  .article-mopka-projects > h3,
  .article-mopka-method > h3,
  .article-mopka-learning > h3 {
    text-align: center;
  }
  .div-scheme-mopka {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
  }
  .big-icon-scheme-graphic-design {
    height: 45px !important;
    width: 45px !important;
  }
  .div-images-focus-mopka > img {
    width: 340px;
    height: 380px;
  }
  .div-mopka-goals-img1 > img {
    width: 550px;
    height: 280px;
  }
  .div-mopka-goals-img2 > img {
    width: 850px;
    height: 400px;
  }
  .div-mopka-projects-img1 {
    width: 100%;
    height: auto;
    gap: 30px;
    margin: var(--pf-margin-s) 0 var(--pf-margin-xl) 0;
  }
  .div-mopka-projects-img1 > img {
    width: 850px;
    height: 400px;
  }
  .div-mopka-projects-img2 > img {
    width: 355px;
    height: 280px;
  }
  .div-mopka-method-img1 > img {
    width: 355px;
    height: 280px;
  }
  .div-mopka-method-img2 > img {
    width: 850px;
    height: 400px;
  }
  .div-mopka-learning-img1 > img,
  .div-mopka-learning-img2 > img {
    width: 850px;
    height: 400px;
  }
}
@media (max-width: 850px) {
  .div-mopka-main-image {
    width: 550px;
    height: 150px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-mopka-main-image > img {
    object-position: 30px 0;
  }
  .ul-mopka-main {
    gap: 15px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-mopka-main > li {
    font-size: 14px;
    width: auto;
  }
  .article-mopka-focus,
  .article-mopka-goals,
  .article-mopka-projects,
  .article-mopka-learning {
    width: 550px;
    padding: var(--pf-padding-m) 0;
  }
  .article-mopka-focus > p,
  .article-mopka-goals > p,
  .article-mopka-projects > p,
  .article-mopka-learning > p {
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .article-mopka-focus > h3,
  .article-mopka-goals > h3,
  .article-mopka-projects > h3,
  .article-mopka-learning > h3 {
    text-align: center;
    font-size: 17px;
  }
  .big-icon-scheme-graphic-design {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-mopka {
    gap: 30px;
  }
  .div-images-focus-mopka > div {
    width: 430px;
    height: 400px;
  }
  .div-images-focus-mopka > div > img {
    height: 110%;
    width: 100%;
  }
  .div-mopka-goals-img1 {
    width: 520px;
  }
  .div-mopka-goals-img2 {
    flex-direction: column;
    margin-bottom: var(--pf-margin-xs);
  }
  .div-mopka-goals-img2 > img {
    width: 520px;
  }
  .div-mopka-projects-img1 {
    width: 520px;
  }
  .div-mopka-projects-img2 {
    width: 520px;
    height: auto;
  }
  .article-mopka-learning {
    margin-bottom: 0;
  }
  .article-mopka-learning > img {
    width: 520px;
  }
}
@media (max-width: 650px) {
  #section-mopka-project {
    padding: 0 var(--pf-padding-section) var(--pf-padding-m)
      var(--pf-padding-section);
  }
  .article-mopka-main {
    gap: 10px;
    margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
  }
  .div-mopka-main-image {
    width: 300px;
    height: 130px;
    border-radius: 80px 80px var(--pf-br1) var(--pf-br1);
  }
  /* .div-mopka-main-image > img {
    object-position: 50px -0dvh;
  } */
  .ul-mopka-main {
    gap: 5px;
    width: 280px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-mopka-main > li {
    font-size: 11px;
    gap: 5px;
    width: auto;
    flex-wrap: wrap;
  }
  .article-mopka-focus,
  .article-mopka-goals,
  .article-mopka-projects,
  .article-mopka-learning {
    width: 250px;
    padding: var(--pf-padding-m) 0;
  }
  .article-mopka-focus > h3,
  .article-mopka-goals > h3,
  .article-mopka-projects > h3,
  .article-mopka-learning > h3 {
    font-size: 15px;
  }
  .div-scheme-mopka {
    gap: 5px;
  }
  .big-icon-scheme-graphic-design {
    height: 35px !important;
    width: 35px !important;
  }
  .div-images-focus-mopka {
    gap: 30px;
    flex-direction: column;
  }
  .div-images-focus-mopka > div {
    width: 250px;
    height: 350px;
  }
  .div-images-focus-mopka > div > img {
    height: 110%;
    width: 100%;
  }
  .div-images-focus-mopka > div:first-of-type > img {
    object-position: -300px 0;
  }
  .div-images-focus-mopka > div:last-of-type > img {
    object-position: -100px 0;
  }
  .div-images-focus-mopka > div:last-of-type {
    width: 250px;
    height: 350px;
  }
  .div-mopka-goals-img1 > img:first-of-type {
    display: none;
  }
  .div-mopka-goals-img1 > img:last-of-type {
    display: block;
    margin: auto;
    width: 230px;
    height: auto;
  }
  .div-mopka-goals-img2 {
    gap: 30px;
  }
  .div-mopka-goals-img2 > img {
    width: 230px;
    height: auto;
  }
  .div-mopka-projects-img1 {
    height: auto;
    margin: var(--pf-margin-m);
  }
  .div-mopka-projects-img1 > img:first-of-type {
    display: none;
  }
  .div-mopka-projects-img1 > img:last-of-type {
    display: block;
    width: 150px;
    margin: auto;
  }
  .div-mopka-projects-img2 {
    width: 250px;
    height: auto;
  }
  .div-mopka-projects-img2 > img:first-of-type {
    display: none;
  }
  .div-mopka-projects-img2 > img:last-of-type {
    display: block;
    width: 230px;
    height: auto;
    margin: auto;
  }

  .article-mopka-learning > img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    object-position: -0px 0;
  }
}
