/*Retro-games*/
#section-retro-games-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) var(--pf-padding-m)
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-retro-games-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-retro-games-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
}
.div-retro-games-main-image > img {
  width: 100%;
  object-fit: contain;
}
.ul-retro-games-main {
  width: 100%;
  height: auto;
  gap: 20px;
  margin-top: var(--pf-margin-s);
}
.ul-retro-games-main > li {
  font-weight: 400;
  font-size: 17px;
  width: auto;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

/*Article-focus-retro-games*/
.article-retro-games-focus,
.article-retro-games-challenges,
.article-retro-games-process,
.article-retro-games-learning,
.article-retro-games-game {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}
.article-retro-games-focus > h3,
.article-retro-games-challenges > h3,
.article-retro-games-process > h3,
.article-retro-games-learning > h3,
.article-retro-games-game > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}

.div-scheme-retro-games {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.article-retro-games-focus > p,
.article-retro-games-challenges > p,
.article-retro-games-process > p,
.article-retro-games-learning > p,
.article-retro-games-game > p {
  width: 100%;
  text-align: justify;
}
.div-images-focus-retro-games {
  width: 100%;
  height: 600px;
  gap: 60px;
  margin-top: var(--pf-margin-s);
}
.div-images-focus-retro-games > img {
  height: 100%;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-challenges-retro-games*/
.div-retro-games-challenges-img {
  flex-direction: column;
  width: 800px;
  height: auto;
  gap: 50px;
  margin: var(--pf-margin-xl) auto;
}
.div-retro-games-challenges-img > div:first-of-type > img {
  width: 100%;
}
.div-retro-games-challenges-img > div:first-of-type > img:last-of-type {
  display: none;
}

/*Article-procces-retro-games*/
.div-retro-games-process-img {
  width: 800px;
  margin: var(--pf-margin-xl) auto;
  gap: 40px;
}
.div-retro-games-process-img > img {
  width: 230px;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-mistakes-retro-games*/
.div-retro-games-mistakes-img {
  width: 1000px;
  margin: var(--pf-margin-xl) auto;
}
.div-retro-games-mistakes-img > img:first-of-type {
  width: 100%;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.div-retro-games-mistakes-img > img:last-of-type {
  display: none;
}

/*Article-retro-games-link*/
.article-retro-games-link {
  height: 100px;
  gap: 10px;
}
.article-retro-games-link > a {
  color: var(--pf-color6);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.article-retro-games-link > a:hover {
  color: var(--pf-color5);
}
.logo-link-retro-games {
  color: var(--pf-color6);
  height: 40px;
  width: 40px;
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-retro-games-main-image {
    width: 1000px;
    height: 220px;
  }
  .ul-retro-games-main {
    gap: 15px;
  }
  .ul-retro-games-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-retro-games-focus,
  .article-retro-games-challenges,
  .article-retro-games-process,
  .article-retro-games-learning,
  .article-retro-games-game {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-web-design {
    height: 55px;
    width: 55px;
  }
  .article-retro-games-focus > p,
  .article-retro-games-challenges > p,
  .article-retro-games-process > p,
  .article-retro-games-learning > p,
  .article-retro-games-game > p {
    width: 950px;
    text-align: justify;
  }
  .article-retro-games-focus > h3,
  .article-retro-games-challenges > h3,
  .article-retro-games-process > h3,
  .article-retro-games-learning > h3,
  .article-retro-games-game > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-retro-games {
    width: 1000px;
    height: auto;
    gap: 50px;
  }
  .div-images-focus-retro-games > img {
    width: 430px;
  }
  .div-retro-games-challenges-img {
    width: 700px;
  }
  .div-retro-games-process-img > img {
    width: 200px;
  }
  .div-retro-games-mistakes-img {
    width: 930px;
  }
}
@media (max-width: 1300px) {
  .div-retro-games-main-image {
    width: 750px;
    height: 200px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-retro-games-main-image > img {
    width: 110%;
    object-position: -40px 0;
  }
  .ul-retro-games-main {
    gap: 15px;
    width: 700px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-retro-games-main > li {
    font-size: 14px;
    width: auto;
    gap: 15px;
    letter-spacing: 1.2px;
    height: auto;
  }
  .article-retro-games-focus,
  .article-retro-games-challenges,
  .article-retro-games-process,
  .article-retro-games-learning,
  .article-retro-games-game {
    width: 800px;
    padding: var(--pf-padding-m) var(--pf-padding-m);
  }
  .article-retro-games-focus > p,
  .article-retro-games-challenges > p,
  .article-retro-games-process > p,
  .article-retro-games-learning > p,
  .article-retro-games-game > p {
    width: 100%;
    line-height: 2.2;
  }
  .article-retro-games-focus > h3,
  .article-retro-games-challenges > h3,
  .article-retro-games-process > h3,
  .article-retro-games-learning > h3,
  .article-retro-games-game > h3 {
    text-align: center;
  }
  .div-scheme-retro-games {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
  }
  .big-icon-scheme-web-design {
    height: 45px !important;
    width: 45px !important;
  }
  .div-images-focus-retro-games {
    width: 100%;
    gap: 40px;
  }
  .div-images-focus-retro-games > img {
    width: 350px;
  }
  .div-retro-games-challenges-img {
    width: 650px;
  }
  .div-retro-games-process-img {
    width: 100%;
  }
  .div-retro-games-process-img > img {
    width: 150px;
  }
  .div-retro-games-mistakes-img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .div-retro-games-main-image {
    width: 550px;
    height: 150px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-retro-games-main-image > img {
    object-position: -30px 0;
  }
  .ul-retro-games-main {
    gap: 15px;
    width: 550px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-retro-games-main > li {
    font-size: 14px;
  }
  .article-retro-games-focus,
  .article-retro-games-challenges,
  .article-retro-games-process,
  .article-retro-games-learning,
  .article-retro-games-game {
    width: 550px;
    padding: var(--pf-padding-m) 0;
  }
  .article-retro-games-focus > p,
  .article-retro-games-challenges > p,
  .article-retro-games-process > p,
  .article-retro-games-learning > p,
  .article-retro-games-game > p {
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .article-retro-games-focus > h3,
  .article-retro-games-challenges > h3,
  .article-retro-games-process > h3,
  .article-retro-games-learning > h3,
  .article-retro-games-game > h3 {
    text-align: center;
    font-size: 17px;
  }
  .big-icon-scheme-web-design {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-retro-games {
    gap: 30px;
    flex-direction: column;
  }
  .div-images-focus-retro-games > img {
    width: 400px;
  }
  .div-retro-games-challenges-img {
    width: 530px;
  }
  .div-retro-games-process-img {
    width: 100%;
    flex-wrap: wrap;
  }
  .div-retro-games-process-img > img {
    width: 230px;
  }
  .div-retro-games-mistakes-img {
    width: 100%;
  }
  .article-retro-games-link {
    height: 80px;
  }
  .article-retro-games-link > a {
    font-size: 15px;
    letter-spacing: 1.2px;
  }
  .logo-link-retro-games {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 650px) {
  #section-retro-games-project {
    padding: 0 var(--pf-padding-section) var(--pf-padding-m)
      var(--pf-padding-section);
  }
  .article-retro-games-main {
    gap: 10px;
    margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
  }
  .div-retro-games-main-image {
    width: 300px;
    height: 130px;
    border-radius: 80px 80px var(--pf-br1) var(--pf-br1);
  }
  .div-retro-games-main-image > img {
    width: 210%;
    object-position: -163px -30px;
  }
  .ul-retro-games-main {
    gap: 5px;
    width: 280px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-retro-games-main > li {
    font-size: 11px;
    gap: 5px;
  }
  .article-retro-games-focus,
  .article-retro-games-challenges,
  .article-retro-games-process,
  .article-retro-games-learning,
  .article-retro-games-game {
    width: 250px;
    padding: var(--pf-padding-m) 0;
  }
  .article-retro-games-focus > h3,
  .article-retro-games-challenges > h3,
  .article-retro-games-process > h3,
  .article-retro-games-learning > h3,
  .article-retro-games-game > h3 {
    font-size: 15px;
  }
  .div-scheme-retro-games {
    gap: 5px;
  }
  .big-icon-scheme-web-design {
    height: 35px !important;
    width: 35px !important;
  }
  .div-images-focus-retro-games {
    gap: 30px;
    flex-direction: column;
  }
  .div-images-focus-retro-games > img {
    width: 250px;
  }
  .div-retro-games-challenges-img {
    padding: 0;
    margin: 0;
  }

  .div-retro-games-challenges-img > div:first-of-type > img {
    display: none;
  }
  .div-retro-games-challenges-img > div:first-of-type > img:last-of-type {
    display: block;
    width: 250px;
    margin-bottom: var(--pf-margin-s);
  }

  .div-retro-games-process-img {
    width: 100%;
    flex-wrap: wrap;
  }
  .div-retro-games-process-img > img {
    width: 200px;
  }
  .div-retro-games-mistakes-img {
    width: 100%;
    margin: 0;
    margin-bottom: var(--pf-margin-s);
  }
  .div-retro-games-mistakes-img > img:first-of-type {
    display: none;
  }
  .div-retro-games-mistakes-img > img:last-of-type {
    display: block;
    width: 100%;
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    border-radius: var(--pf-br1);
  }

  .article-retro-games-link {
    height: 150px;
    flex-direction: column;
  }
  .article-retro-games-link > a {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .logo-link-retro-games {
    height: 40px;
    width: 40px;
  }
}
