/*Jornadas-Espana-RD*/
#section-semanas-espana-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) var(--pf-padding-m)
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-semanas-espana-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-semanas-espana-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
}
.div-semanas-espana-main-image > img {
  height: 101%;
  object-fit: contain;
}
.ul-semanas-espana-main {
  width: 1200px;
  height: 100px;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: var(--pf-margin-s);
}
.ul-semanas-espana-main > li {
  font-weight: 400;
  font-size: 17px;
  width: auto;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.2px;
}

/*Article-focus-semanas-espana*/
.article-semanas-espana-focus,
.article-semanas-espana-challenges,
.article-semanas-espana-process,
.article-semanas-espana-learning,
.article-semanas-espana-events,
.article-semanas-espana-mistakes {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}

.article-semanas-espana-focus > h3,
.article-semanas-espana-challenges > h3,
.article-semanas-espana-process > h3,
.article-semanas-espana-learning > h3,
.article-semanas-espana-events > h3,
.article-semanas-espana-mistakes > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}
.div-scheme-semanas-espana {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.big-icon-scheme-audiovisual {
  height: 60px;
  width: 60px;
}
.big-icon-scheme-audiovisual:last-of-type {
  color: var(--pf-color4);
}
.big-icon-scheme-audiovisual:last-of-type:hover {
  color: var(--pf-color5);
}
.article-semanas-espana-focus > p,
.article-semanas-espana-challenges > p,
.article-semanas-espana-process > p,
.article-semanas-espana-learning > p,
.article-semanas-espana-events > p,
.article-semanas-espana-mistakes > p {
  width: 100%;
  text-align: justify;
}
.div-images-focus-semanas-espana1 {
  width: 800px;
  height: auto;
  gap: 30px;
  margin: var(--pf-margin-m) auto;
}
.div-images-focus-semanas-espana1 > img {
  width: 350px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.div-images-focus-semanas-espana2 {
  width: 800px;
  height: auto;
  gap: 30px;
  margin: var(--pf-margin-m) auto;
}
.div-images-focus-semanas-espana2 > img {
  width: 540px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-challenges-semanas-espana*/
.div-semanas-espana-challenges-img {
  width: 1050px;
  height: 600px;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-section);
}
.div-semanas-espana-challenges-img > img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-events-semanas-espana*/
.div-semanas-espana-events-img {
  width: 800px;
  height: auto;
  gap: 30px;
  margin: var(--pf-margin-m) auto;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
}
.div-semanas-espana-events-img > img {
  width: 350px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-Papaoutai-Learning*/
.div-semanas-espana-learning-img {
  width: 1050px;
  height: 600px;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-section);
}
.div-semanas-espana-learning-img > img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-Papaoutai-Mistakes*/
.div-semanas-espana-mistakes-img {
  width: 1100px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  gap: 50px;
}
.div-semanas-espana-mistakes-img > img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.article-semanas-espana-link {
  height: 100px;
  gap: 10px;
}
.article-semanas-espana-link > a {
  color: var(--pf-color6);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.article-semanas-espana-link > a:hover {
  color: var(--pf-color5);
}
.logo-link-semanas-espana {
  color: var(--pf-color6);
  height: 40px;
  width: 40px;
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-semanas-espana-main-image {
    width: 1000px;
    height: 220px;
  }
  .div-semanas-espana-main-image > img {
    width: 100%;
    height: auto;
    object-position: 0 0;
  }
  .ul-semanas-espana-main {
    gap: 15px;
    width: 600px;
  }
  .ul-semanas-espana-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-semanas-espana-focus,
  .article-semanas-espana-challenges,
  .article-semanas-espana-process,
  .article-semanas-espana-learning,
  .article-semanas-espana-events,
  .article-semanas-espana-mistakes {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-web-design {
    height: 55px;
    width: 55px;
  }
  .article-semanas-espana-focus > p,
  .article-semanas-espana-challenges > p,
  .article-semanas-espana-process > p,
  .article-semanas-espana-learning > p,
  .article-semanas-espana-events > p,
  .article-semanas-espana-mistakes > p {
    width: 950px;
    text-align: justify;
  }
  .article-semanas-espana-focus > h3,
  .article-semanas-espana-challenges > h3,
  .article-semanas-espana-process > h3,
  .article-semanas-espana-learning > h3,
  .article-semanas-espana-events > h3,
  .article-semanas-espana-mistakes > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-semanas-espana1 {
    width: 800px;
  }
  .div-images-focus-semanas-espana1 > img {
    width: 290px;
  }
  .div-images-focus-semanas-espana2 {
    width: 800px;
    margin-bottom: 0;
  }
  .div-images-focus-semanas-espana2 > img {
    width: 440px;
  }
  .div-semanas-espana-challenges-img {
    width: 910px;
    height: auto;
    margin-bottom: 0;
  }
  .div-semanas-espana-events-img {
    width: 900px;
    height: auto;
    margin: var(--pf-margin-s) auto;
  }
  .div-semanas-espana-events-img > img {
    width: 290px;
  }
  .div-semanas-espana-learning-img {
    width: 900px;
    height: auto;
    margin: var(--pf-margin-s) auto;
  }
  .div-semanas-espana-learning-img > img {
    width: 900px;
  }
  .div-semanas-espana-mistakes-img {
    width: 900px;
    height: auto;
  }
}
@media (max-width: 1300px) {
  .div-semanas-espana-main-image {
    width: 750px;
    height: 200px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-semanas-espana-main-image > img {
    width: 110%;
    object-position: -40px 0;
  }
  .ul-semanas-espana-main {
    gap: 15px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-semanas-espana-main > li {
    font-size: 14px;
    width: auto;
    gap: 15px;
    height: auto;
  }
  .article-semanas-espana-focus,
  .article-semanas-espana-challenges,
  .article-semanas-espana-process,
  .article-semanas-espana-learning,
  .article-semanas-espana-events,
  .article-semanas-espana-mistakes {
    width: 800px;
    padding: var(--pf-padding-m) var(--pf-padding-m);
  }
  .article-semanas-espana-focus > p,
  .article-semanas-espana-challenges > p,
  .article-semanas-espana-process > p,
  .article-semanas-espana-learning > p,
  .article-semanas-espana-events > p,
  .article-semanas-espana-mistakes > p {
    width: 100%;
    line-height: 2.2;
  }
  .article-semanas-espana-focus > h3,
  .article-semanas-espana-challenges > h3,
  .article-semanas-espana-process > h3,
  .article-semanas-espana-learning > h3,
  .article-semanas-espana-events > h3,
  .article-semanas-espana-mistakes > h3 {
    text-align: center;
  }
  .div-scheme-semanas-espana {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
  }
  .big-icon-scheme-audiovisual {
    height: 45px !important;
    width: 45px !important;
  }
  .div-images-focus-semanas-espana1 {
    width: 100%;
  }
  .div-images-focus-semanas-espana1 > img {
    width: 225px;
  }
  .div-images-focus-semanas-espana2 {
    width: 100%;
  }
  .div-images-focus-semanas-espana2 > img {
    width: 350px;
  }
  .div-semanas-espana-challenges-img {
    width: 720px;
  }
  .div-semanas-espana-events-img {
    width: 750px;
    height: auto;
    margin: var(--pf-margin-s) auto;
  }
  .div-semanas-espana-events-img > img {
    width: 225px;
  }
  .div-semanas-espana-learning-img {
    width: 730px;
  }
  .div-semanas-espana-learning-img > img {
    width: 100%;
  }
  .div-semanas-espana-mistakes-img {
    width: 100%;
  }
  .article-semanas-espana-link {
    height: auto;
    gap: 10px;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .div-semanas-espana-main-image {
    width: 550px;
    height: 150px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-semanas-espana-main-image > img {
    height: 105%;
    width: auto;
    object-position: -50px 0px;
  }
  .ul-semanas-espana-main {
    gap: 5px;
    width: 700px;
  }
  .ul-semanas-espana-main > li {
    width: auto;
    font-size: 14px;
    gap: 5px;
  }
  .article-semanas-espana-focus,
  .article-semanas-espana-challenges,
  .article-semanas-espana-process,
  .article-semanas-espana-learning,
  .article-semanas-espana-events,
  .article-semanas-espana-mistakes {
    width: 550px;
    padding: var(--pf-padding-m) 0;
  }
  .article-semanas-espana-focus > p,
  .article-semanas-espana-challenges > p,
  .article-semanas-espana-process > p,
  .article-semanas-espana-learning > p,
  .article-semanas-espana-events > p,
  .article-semanas-espana-mistakes > p {
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .article-semanas-espana-focus > h3,
  .article-semanas-espana-challenges > h3,
  .article-semanas-espana-process > h3,
  .article-semanas-espana-learning > h3,
  .article-semanas-espana-events > h3,
  .article-semanas-espana-mistakes > h3 {
    text-align: center;
    font-size: 17px;
  }
  .big-icon-scheme-web-design {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-semanas-espana1 {
    flex-direction: column;
    gap: 40px;
  }
  .div-images-focus-semanas-espana1 > img {
    width: 530px;
  }
  .div-images-focus-semanas-espana2 {
    flex-direction: column;
    gap: 40px;
  }
  .div-images-focus-semanas-espana2 > img {
    width: 530px;
  }
  .div-semanas-espana-challenges-img {
    width: 520px;
  }
  .div-semanas-espana-events-img {
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }
  .div-semanas-espana-events-img > img {
    width: 530px;
  }
  .div-semanas-espana-learning-img {
    width: 520px;
  }
  .div-semanas-espana-learning-img > img {
    width: 100%;
  }
  .div-semanas-espana-mistakes-img {
    width: 520px;
  }
  .article-semanas-espana-link {
    height: 150px;
    flex-direction: column;
  }
  .article-semanas-espana-link > a {
    font-size: 15px;
    letter-spacing: 1.2px;
  }
  .logo-link-papaoutai {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 650px) {
  #section-semanas-espana-project {
    padding: 0 var(--pf-padding-section) var(--pf-padding-m)
      var(--pf-padding-section);
    height: auto;
  }
  .article-semanas-espana-main {
    gap: 10px;
    margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
  }
  .div-semanas-espana-main-image {
    width: 300px;
    height: 130px;
    border-radius: 80px 80px var(--pf-br1) var(--pf-br1);
  }
  .div-semanas-espana-main-image > img {
    width: 540px;
    height: auto;
    object-position: -120px 0px;
  }
  .ul-semanas-espana-main {
    gap: 5px;
    width: 220px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-semanas-espana-main > li {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    gap: 5px;
  }
  .article-semanas-espana-focus,
  .article-semanas-espana-challenges,
  .article-semanas-espana-process,
  .article-semanas-espana-learning,
  .article-semanas-espana-events,
  .article-semanas-espana-mistakes {
    width: 250px;
    padding: var(--pf-padding-m) 0;
  }
  .article-semanas-espana-focus > h3,
  .article-semanas-espana-challenges > h3,
  .article-semanas-espana-process > h3,
  .article-semanas-espana-learning > h3,
  .article-semanas-espana-events > h3,
  .article-semanas-espana-mistakes > h3 {
    font-size: 15px;
  }
  .div-scheme-semanas-espana {
    gap: 5px;
  }
  .big-icon-scheme-audiovisual {
    height: 35px !important;
    width: 35px !important;
  }
  .div-images-focus-semanas-espana1 {
    gap: 30px;
  }
  .div-images-focus-semanas-espana1 > img {
    width: 250px;
    height: 350px;
  }
  .div-images-focus-semanas-espana1 > img:nth-of-type(2) {
    object-position: -100px 0;
  }
  .div-images-focus-semanas-espana1 > img:last-of-type {
    object-position: -245px 0;
  }
  .div-images-focus-semanas-espana2 {
    gap: 30px;
  }
  .div-images-focus-semanas-espana2 > img {
    width: 250px;
    height: 350px;
  }
  .div-images-focus-semanas-espana2 > img:first-of-type {
    object-position: -80px 0;
  }
  .div-images-focus-semanas-espana2 > img:last-of-type {
    object-position: -130px 0;
  }
  .div-semanas-espana-challenges-img {
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: var(--pf-br1);
  }
  .div-semanas-espana-challenges-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: -190px 0;
  }
  .div-semanas-espana-events-img {
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: var(--pf-br1);
  }
  .div-semanas-espana-events-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 10px 0;
  }
  .div-semanas-espana-learning-img {
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: var(--pf-br1);
  }
  .div-semanas-espana-learning-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 130px 0;
  }
  .div-semanas-espana-mistakes-img {
    width: 250px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    border-radius: var(--pf-br1);
  }
  .div-semanas-espana-mistakes-img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: -30px 0;
  }
  .article-semanas-espana-link {
    width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .article-semanas-espana-link > a {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .logo-link-semanas-espana {
    height: 40px;
    width: 40px;
  }
}
