/*Papaoutai*/
#section-papaoutai-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) 0
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-papaoutai-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-papaoutai-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
}
.div-papaoutai-main-image > img {
  height: 101%;
  object-fit: contain;
}
.ul-papaoutai-main {
  width: 100%;
  height: auto;
  gap: 20px;
  margin-top: var(--pf-margin-s);
}
.ul-papaoutai-main > li {
  font-weight: 400;
  font-size: 17px;
  width: auto;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

/*Article-focus-papaoutai*/
.article-papaoutai-focus,
.article-papaoutai-challenges,
.article-papaoutai-process,
.article-papaoutai-learning,
.article-papaoutai-references,
.article-papaoutai-camera,
.article-papaoutai-color-grading,
.article-papaoutai-mistakes {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}

.article-papaoutai-focus > h3,
.article-papaoutai-challenges > h3,
.article-papaoutai-process > h3,
.article-papaoutai-learning > h3,
.article-papaoutai-references > h3,
.article-papaoutai-camera > h3,
.article-papaoutai-color-grading > h3,
.article-papaoutai-mistakes > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}
.div-scheme-papaoutai {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.big-icon-scheme-audiovisual {
  height: 60px;
  width: 60px;
}
.big-icon-scheme-audiovisual-camera {
  height: 50px;
  width: 50px;
}
.big-icon-scheme-audiovisual:last-of-type {
  color: var(--pf-color4);
}
.big-icon-scheme-audiovisual:last-of-type:hover {
  color: var(--pf-color5);
}
.article-papaoutai-focus > p,
.article-papaoutai-challenges > p,
.article-papaoutai-process > p,
.article-papaoutai-learning > p,
.article-papaoutai-references > p,
.article-papaoutai-camera > p,
.article-papaoutai-color-grading > p,
.article-papaoutai-mistakes > p {
  width: 100%;
  text-align: justify;
}
.div-images-focus-papaoutai {
  width: 800px;
  height: auto;
  gap: 30px;
  margin: var(--pf-margin-m) auto;
}
.div-images-focus-papaoutai > img {
  width: 320px;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-challenges-papaoutai*/
.div-papaoutai-challenges-img {
  width: 1050px;
  height: 600px;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-section);
}
.div-papaoutai-challenges-img > img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-references-papaoutai*/
.div-papaoutai-references-img {
  width: 1100px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-l);
}
.div-papaoutai-references-img > img {
  width: 100%;
  object-fit: contain;
}

/*Article-Papaoutai-Camera*/
.div-papaoutai-camera-img {
  width: 800px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-l);
  gap: 30px;
}
.div-papaoutai-camera-img > img:first-of-type {
  height: 230px;
  object-fit: contain;
}
.div-papaoutai-camera-img > img:last-of-type {
  height: 220px;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px #87577c80;
  border-radius: var(--pf-br1);
}

/*Article-Papaoutai-Color-Grading*/
.div-papaoutai-color-grading-img1 {
  width: 800px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  gap: 30px;
}
.div-papaoutai-color-grading-img2 {
  height: auto;
  margin: var(--pf-margin-m) auto;
  margin-bottom: var(--pf-margin-l);
}
.div-papaoutai-color-grading-img1 > img {
  height: 280px;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.div-papaoutai-color-grading-img2 > img {
  width: 1100px;
  object-fit: contain;
}

/*Article-Papaoutai-Learning*/
.div-papaoutai-learning-img {
  width: 1100px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  gap: 50px;
}
.div-papaoutai-learning-img > img {
  width: 500px;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-Papaoutai-Mistakes*/
.div-papaoutai-mistakes-img {
  width: 1100px;
  height: auto;
  margin: var(--pf-margin-m) auto;
  gap: 50px;
}
.div-papaoutai-mistakes-img > img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-papaoutai-main-image {
    width: 1000px;
    height: 220px;
  }
  .div-papaoutai-main-image > img {
    width: 100%;
    height: auto;
    object-position: 0 -20px;
  }
  .ul-papaoutai-main {
    gap: 15px;
  }
  .ul-papaoutai-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-papaoutai-focus,
  .article-papaoutai-challenges,
  .article-papaoutai-process,
  .article-papaoutai-learning,
  .article-papaoutai-references,
  .article-papaoutai-camera,
  .article-papaoutai-color-grading,
  .article-papaoutai-mistakes {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-web-design {
    height: 55px;
    width: 55px;
  }
  .article-papaoutai-focus > p,
  .article-papaoutai-challenges > p,
  .article-papaoutai-process > p,
  .article-papaoutai-learning > p,
  .article-papaoutai-references > p,
  .article-papaoutai-camera > p,
  .article-papaoutai-color-grading > p,
  .article-papaoutai-mistakes > p {
    width: 950px;
    text-align: justify;
  }
  .article-papaoutai-focus > h3,
  .article-papaoutai-challenges > h3,
  .article-papaoutai-process > h3,
  .article-papaoutai-learning > h3,
  .article-papaoutai-references > h3,
  .article-papaoutai-camera > h3,
  .article-papaoutai-color-grading > h3,
  .article-papaoutai-mistakes > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-papaoutai {
    width: 800px;
  }
  .div-images-focus-papaoutai > img {
    width: 280px;
  }
  .div-papaoutai-challenges-img {
    width: 920px;
    height: auto;
    margin-bottom: 0;
  }
  .div-papaoutai-references-img {
    width: 950px;
  }
  .div-papaoutai-camera-img {
    width: 900px;
    height: auto;
    gap: 0px;
  }
  .div-papaoutai-camera-img > img:first-of-type {
    width: 600px;
  }
  .div-papaoutai-camera-img > img:last-of-type {
    width: 380px;
    height: auto;
  }
  .div-papaoutai-color-grading-img1 {
    width: 900px;
  }
  .div-papaoutai-color-grading-img2 {
    width: 900px;
    height: auto;
    margin-bottom: var(--pf-margin-xs);
  }
  .div-papaoutai-color-grading-img1 > img {
    width: 450px;
    height: auto;
  }
  .div-papaoutai-color-grading-img2 > img {
    width: 1000px;
    object-fit: contain;
  }
  .div-papaoutai-learning-img {
    width: 900px;
    height: auto;
    margin: var(--pf-margin-s) auto;
  }
  .div-papaoutai-learning-img > img {
    width: 420px;
  }
  .div-papaoutai-mistakes-img {
    width: 920px;
    height: auto;
  }
}
@media (max-width: 1300px) {
  .div-papaoutai-main-image {
    width: 750px;
    height: 200px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-papaoutai-main-image > img {
    width: 110%;
    object-position: -40px 0;
  }
  .ul-papaoutai-main {
    gap: 15px;
    width: 700px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-papaoutai-main > li {
    font-size: 14px;
    width: auto;
    gap: 15px;
    letter-spacing: 1.2px;
    height: auto;
  }
  .article-papaoutai-focus,
  .article-papaoutai-challenges,
  .article-papaoutai-process,
  .article-papaoutai-learning,
  .article-papaoutai-references,
  .article-papaoutai-camera,
  .article-papaoutai-color-grading,
  .article-papaoutai-mistakes {
    width: 800px;
    padding: var(--pf-padding-m) var(--pf-padding-m);
  }
  .article-papaoutai-focus > p,
  .article-papaoutai-challenges > p,
  .article-papaoutai-process > p,
  .article-papaoutai-learning > p,
  .article-papaoutai-references > p,
  .article-papaoutai-camera > p,
  .article-papaoutai-color-grading > p,
  .article-papaoutai-mistakes > p {
    width: 100%;
    line-height: 2.2;
  }
  .article-papaoutai-focus > h3,
  .article-papaoutai-challenges > h3,
  .article-papaoutai-process > h3,
  .article-papaoutai-learning > h3,
  .article-papaoutai-references > h3,
  .article-papaoutai-camera > h3,
  .article-papaoutai-color-grading > h3,
  .article-papaoutai-mistakes > h3 {
    text-align: center;
  }
  .div-scheme-papaoutai {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
  }
  .big-icon-scheme-audiovisual {
    height: 45px !important;
    width: 45px !important;
  }
  .big-icon-scheme-audiovisual-camera {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-papaoutai {
    width: 100%;
  }
  .div-images-focus-papaoutai > img {
    width: 220px;
  }
  .div-papaoutai-challenges-img {
    width: 100%;
  }
  .div-papaoutai-references-img {
    width: 100%;
  }
  .div-papaoutai-camera-img {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .div-papaoutai-camera-img > img:first-of-type {
    width: 600px;
  }
  .div-papaoutai-camera-img > img:last-of-type {
    width: 545px;
  }
  .div-papaoutai-color-grading-img1 {
    width: 100%;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img2 {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img1 > img {
    width: 350px;
    height: auto;
  }
  .div-papaoutai-color-grading-img2 > img {
    width: 103%;
  }
  .div-papaoutai-learning-img {
    width: 100%;
  }
  .div-papaoutai-learning-img > img {
    width: 350px;
  }
  .div-papaoutai-mistakes-img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .div-papaoutai-main-image {
    width: 550px;
    height: 150px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-papaoutai-main-image > img {
    object-position: -20px 0;
  }
  .ul-papaoutai-main {
    gap: 15px;
    width: 550px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-papaoutai-main > li {
    font-size: 14px;
  }
  .article-papaoutai-focus,
  .article-papaoutai-challenges,
  .article-papaoutai-process,
  .article-papaoutai-learning,
  .article-papaoutai-references,
  .article-papaoutai-camera,
  .article-papaoutai-color-grading,
  .article-papaoutai-mistakes {
    width: 550px;
    padding: var(--pf-padding-m) 0;
  }
  .article-papaoutai-focus > p,
  .article-papaoutai-challenges > p,
  .article-papaoutai-process > p,
  .article-papaoutai-learning > p,
  .article-papaoutai-references > p,
  .article-papaoutai-camera > p,
  .article-papaoutai-color-grading > p,
  .article-papaoutai-mistakes > p {
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .article-papaoutai-challenges > h3,
  .article-papaoutai-process > h3,
  .article-papaoutai-learning > h3,
  .article-papaoutai-references > h3,
  .article-papaoutai-camera > h3,
  .article-papaoutai-color-grading > h3,
  .article-papaoutai-mistakes > h3 {
    text-align: center;
    font-size: 17px;
  }
  .big-icon-scheme-web-design {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-papaoutai > img {
    width: 160px;
  }
  .div-papaoutai-challenges-img {
    width: 100%;
  }
  .div-papaoutai-references-img {
    width: 100%;
  }
  .div-papaoutai-camera-img {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .div-papaoutai-camera-img > img:first-of-type {
    width: 600px;
  }
  .div-papaoutai-camera-img > img:last-of-type {
    width: 545px;
  }
  .div-papaoutai-color-grading-img1 {
    width: 100%;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img2 {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img1 > img {
    width: 250px;
    height: auto;
  }
  .div-papaoutai-color-grading-img2 > img {
    width: 103%;
  }
  .div-papaoutai-learning-img {
    width: 100%;
    gap: 30px;
  }
  .div-papaoutai-learning-img > img {
    width: 260px;
  }
  .div-papaoutai-mistakes-img {
    width: 100%;
  }

  .article-papaoutai-link {
    height: 80px;
  }
  .article-papaoutai-link > a {
    font-size: 15px;
    letter-spacing: 1.2px;
  }
  .logo-link-papaoutai {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 650px) {
  #section-papaoutai-project {
    padding: 0 var(--pf-padding-section) 0 var(--pf-padding-section);
  }
  .article-papaoutai-main {
    gap: 10px;
    margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
  }
  .div-papaoutai-main-image {
    width: 250px;
    height: 130px;
    border-radius: 80px 80px var(--pf-br1) var(--pf-br1);
  }
  .div-papaoutai-main-image > img {
    width: 210%;
    object-position: -140px 0;
  }
  .ul-papaoutai-main {
    gap: 5px;
    width: 250px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-papaoutai-main > li {
    font-size: 11px;
    gap: 5px;
  }
  .article-papaoutai-focus,
  .article-papaoutai-challenges,
  .article-papaoutai-process,
  .article-papaoutai-learning,
  .article-papaoutai-references,
  .article-papaoutai-camera,
  .article-papaoutai-color-grading,
  .article-papaoutai-mistakes {
    width: 250px;
    padding: var(--pf-padding-m) 0;
  }
  .article-papaoutai-focus > h3,
  .article-papaoutai-challenges > h3,
  .article-papaoutai-process > h3,
  .article-papaoutai-learning > h3,
  .article-papaoutai-references > h3,
  .article-papaoutai-camera > h3,
  .article-papaoutai-color-grading > h3,
  .article-papaoutai-mistakes > h3 {
    font-size: 15px;
  }
  .div-scheme-papaoutai {
    gap: 5px;
  }
  .big-icon-scheme-audiovisual {
    height: 35px !important;
    width: 35px !important;
  }
  .div-images-focus-papaoutai {
    gap: 10px;
  }

  .div-images-focus-papaoutai > img {
    width: 80px;
  }
  .div-papaoutai-challenges-img {
    width: 100%;
  }
  .div-papaoutai-references-img {
    width: 100%;
  }
  .div-papaoutai-camera-img {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .div-papaoutai-camera-img > img:first-of-type {
    width: 600px;
  }
  .div-papaoutai-camera-img > img:last-of-type {
    width: 545px;
  }
  .div-papaoutai-color-grading-img1 {
    width: 100%;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img2 {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .div-papaoutai-color-grading-img1 > img {
    width: 250px;
    height: auto;
  }
  .div-papaoutai-color-grading-img2 > img {
    width: 103%;
  }
  .div-papaoutai-learning-img {
    width: 100%;
    gap: 30px;
  }
  .div-papaoutai-learning-img > img {
    width: 260px;
  }
  .div-papaoutai-mistakes-img {
    width: 100%;
  }
  .article-papaoutai-link {
    height: 150px;
    flex-direction: column;
  }
  .article-papaoutai-link > a {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
  }
  .logo-link-papaoutai {
    height: 40px;
    width: 40px;
  }
}
