/*Pokemon-cards*/
#section-pokemon-cards-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) 0
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-pokemon-cards-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-pokemon-cards-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
}
.div-pokemon-cards-main-image > img {
  width: 100%;
  object-fit: contain;
}
.ul-pokemon-cards-main {
  width: 100%;
  height: auto;
  gap: 20px;
  margin-top: var(--pf-margin-s);
}
.ul-pokemon-cards-main > li {
  font-weight: 400;
  font-size: 17px;
  width: auto;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

/*Article-focus-pokemon-cards*/
.article-pokemon-cards-focus,
.article-pokemon-cards-challenges,
.article-pokemon-cards-process,
.article-pokemon-cards-learning,
.article-pokemon-cards-game {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}
.article-pokemon-cards-focus > h3,
.article-pokemon-cards-challenges > h3,
.article-pokemon-cards-process > h3,
.article-pokemon-cards-learning > h3,
.article-pokemon-cards-game > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}
.div-scheme-pokemon-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.article-pokemon-cards-focus > p,
.article-pokemon-cards-challenges > p,
.article-pokemon-cards-process > p,
.article-pokemon-cards-learning > p,
.article-pokemon-cards-game > p {
  width: 1100px;
  text-align: justify;
}
.div-images-focus-pokemon-cards {
  width: 1000px;
  height: auto;
  gap: 60px;
  margin-top: var(--pf-margin-s);
}
.div-images-focus-pokemon-cards > img {
  width: 100%;
  object-fit: cover;
}

/*Article-challenges-pokemon-cards*/
.div-pokemon-cards-challenges-img {
  flex-direction: column;
  width: 700px;
  height: auto;
  gap: 50px;
  margin: var(--pf-margin-xl) auto;
}
.div-pokemon-cards-challenges-img > div:first-of-type {
  width: 500px;
}
.div-pokemon-cards-challenges-img > div:first-of-type > img {
  width: 100%;
}
.div-pokemon-cards-challenges-img > div:last-of-type {
  width: 500px;
  height: auto;
  gap: 50px;
}
.div-pokemon-cards-challenges-img > div:last-of-type > img {
  width: 100%;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-procces-pokemon-cards*/
.div-pokemon-cards-process-img1 {
  width: 1000px;
  margin: var(--pf-margin-xl) auto;
  gap: 40px;
}
.div-pokemon-cards-process-img1 > img {
  width: 330px;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.div-pokemon-cards-process-img2 {
  width: 950px;
  margin: var(--pf-margin-xl) auto;
}
.div-pokemon-cards-process-img2 > img {
  width: 100%;
}

/*Article-pokemon-cards-extra-game*/
.div-pokemon-cards-game-video {
  width: 1050px;
  height: 400px;
  margin: var(--pf-margin-xl) auto;
}
.div-pokemon-cards-game-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-pokemon-cards-link*/
.article-pokemon-cards-link {
  height: 100px;
  gap: 10px;
}
.article-pokemon-cards-link > a {
  color: var(--pf-color6);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.article-pokemon-cards-link > a:hover {
  color: var(--pf-color5);
}
.logo-link-pokemon-cards {
  color: var(--pf-color6);
  height: 40px;
  width: 40px;
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-pokemon-cards-main-image {
    width: 1000px;
    height: 220px;
  }
  .ul-pokemon-cards-main {
    gap: 15px;
  }
  .ul-pokemon-cards-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-pokemon-cards-focus,
  .article-pokemon-cards-challenges,
  .article-pokemon-cards-process,
  .article-pokemon-cards-learning,
  .article-pokemon-cards-game {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-pokemon-cards {
    height: 55px;
    width: 55px;
  }
  .article-pokemon-cards-focus > p,
  .article-pokemon-cards-challenges > p,
  .article-pokemon-cards-process > p,
  .article-pokemon-cards-learning > p,
  .article-pokemon-cards-game > p {
    width: 950px;
    text-align: justify;
  }
  .article-pokemon-cards-focus > h3,
  .article-pokemon-cards-challenges > h3,
  .article-pokemon-cards-process > h3,
  .article-pokemon-cards-learning > h3,
  .article-pokemon-cards-game > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-pokemon-cards {
    width: 900px;
  }
  .div-pokemon-cards-challenges-img > div:last-of-type {
    width: 420px;
  }
  .div-pokemon-cards-process-img1 {
    width: 900px;
  }
  .div-pokemon-cards-process-img1 > img {
    width: 270px;
  }
  .div-pokemon-cards-game-video {
    width: 900px;
    height: 400px;
  }
}
