/*HEADER*/
#header {
  width: 1500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 2.3px solid rgb(31, 29, 29, 0.7);
  border-radius: var(--pf-br1);
  box-shadow: 0 5px 25px 0px rgba(135, 87, 124, 0.5);
}

nav {
  width: auto;
  height: auto;
}
.ul-header {
  gap: 50px;
}
.li-header {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 75px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.li-header > a {
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-size: 15px;
}

.li-header > a:hover {
  animation: vibrar 0.5s ease-in-out infinite;
}

.li-header > a.active {
  color: var(--pf-forth-text);
  font-weight: 600;
  font-size: 16px;
}

/*ANIMACIÓN*/

@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}
