#Footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: end;
  align-content: end;
}

#Footer p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--ep-color2);
}

/*Media Queries*/
@media (max-width: 1550px) {
  #Footer {
    width: 100%;
    height: 100px;
  }
}
@media (max-width: 850px) {
  #Footer {
    height: 100px;
    justify-content: center;
  }
  #Footer p {
    font-size: 13px;
  }
}
@media (max-width: 650px) {
  #Footer {
    width: 300px;
  }
  #Footer p {
    font-size: 11px;
  }
}
