#footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: end;
  align-content: end;
}

#footer p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--ep-color2);
}

/*Media Queries*/
@media (max-width: 1550px) {
  #footer {
    width: 100%;
    height: 100px;
  }
}
