/*Audiovisual*/
#section-audiovisual {
  width: 100%;
  height: 100svh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: start;
  align-items: start;
  padding: var(--pf-padding-xl) var(--pf-padding-section) 0
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}

/*Media Queries*/
@media (max-width: 1550px) {
  #section-audiovisual {
    height: 100svh;
  }
  #section-audiovisual > h2 {
    font-size: 20px;
  }
}
