/*CreandOh*/
#section-creandoh-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--pf-padding-xl) var(--pf-padding-section) var(--pf-padding-m)
    var(--pf-padding-section);
  background-color: var(--pf-fifth-bg);
}
.square-green-last {
  width: 7px;
  color: var(--pf-color4);
  margin-top: 7px;
}

/*Article-main*/
.article-creandoh-main {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 20px;
  margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
}
.div-creandoh-main-image {
  width: 1200px;
  height: 300px;
  border-radius: var(--pf-br2) var(--pf-br2) var(--pf-br1) var(--pf-br1);
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin-bottom: var(--pf-margin-xl);
  background-color: white;
}
.div-creandoh-main-image > img {
  width: 90%;
  object-position: 65px -20px;
  object-fit: contain;
}
.ul-creandoh-main {
  width: 900px;
  height: auto;
  gap: 20px;
  margin-top: var(--pf-margin-s);
  flex-wrap: wrap;
}
.ul-creandoh-main > li {
  width: auto;
  font-weight: 400;
  font-size: 17px;
  gap: 20px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

/*Article-focus-creandoh*/
.article-creandoh-focus,
.article-creandoh-challenges,
.article-creandoh-process,
.article-creandoh-learning {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: var(--pf-padding-xl) var(--pf-padding-l);
}
.article-creandoh-focus > h3,
.article-creandoh-challenges > h3,
.article-creandoh-process > h3,
.article-creandoh-learning > h3 {
  width: 100%;
  text-align: start;
  font-weight: 400;
}
.div-scheme-creandoh {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  color: var(--pf-color6);
  margin-top: var(--pf-margin-s);
}
.big-icon-scheme-web-design {
  height: 60px;
  width: 60px;
}
.big-icon-scheme-web-design:last-of-type {
  color: var(--pf-color4);
}
.big-icon-scheme-web-design:last-of-type:hover {
  color: var(--pf-color5);
}
.article-creandoh-focus > p,
.article-creandoh-challenges > p,
.article-creandoh-process > p,
.article-creandoh-learning > p {
  width: 100%;
  text-align: justify;
}
.div-images-focus-creandoh {
  width: 100%;
  height: auto;
  gap: 30px;
  margin-top: var(--pf-margin-s);
  flex-direction: column;
}

.div-images-focus-creandoh > div {
  width: 850px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}
.div-images-focus-creandoh > div > img {
  width: 100%;
}
.div-images-focus-creandoh > div:last-of-type > img {
  object-position: 0 -70px;
}

/*Article-challenges-creandoh*/
.div-creandoh-challenges-img1 {
  width: 850px;
  height: auto;
  margin: var(--pf-margin-l) 0;
}
.div-creandoh-challenges-img1 > img {
  width: 100%;
  object-fit: contain;
}
.div-creandoh-challenges-img2 {
  width: 850px;
  height: auto;
  margin: var(--pf-margin-l) 0;
  gap: 40px;
}
.div-creandoh-challenges-img2 > img {
  width: 530px;
  height: auto;
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  border-radius: var(--pf-br1);
}

/*Article-procces-creandoh*/
.div-creandoh-process-img1 {
  width: 600px;
  height: auto;
  border-radius: var(--pf-br1);
  margin: var(--pf-margin-l) 0;
}
.div-creandoh-process-img1 > img:first-of-type {
  width: 100%;
}
.div-creandoh-process-img2 {
  width: 1080px;
  height: auto;
  overflow: hidden;
  margin-top: var(--pf-margin-l);
}
.div-creandoh-process-img2 > img {
  width: 100%;
  height: 100%;
}

/*Article-learning-creandoh*/
.article-creandoh-learning > img {
  width: 850px;
  border-radius: var(--pf-br1);
  box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
  margin: var(--pf-margin-m) 0 var(--pf-margin-xl) 0;
}

/*MediaQueries*/
@media (max-width: 1550px) {
  .div-creandoh-main-image {
    width: 1000px;
    height: 220px;
  }
  .div-creandoh-main-image > img {
    object-position: 0 -150px;
  }
  .ul-creandoh-main {
    gap: 15px;
  }
  .ul-creandoh-main > li {
    font-size: 15px;
    gap: 15px;
    letter-spacing: 1.2px;
  }
  .article-creandoh-focus,
  .article-creandoh-challenges,
  .article-creandoh-process,
  .article-creandoh-admin,
  .article-creandoh-learning {
    width: 1000px;
    padding: var(--pf-padding-xl) var(--pf-padding-m);
  }
  .big-icon-scheme-web-design {
    height: 55px;
    width: 55px;
  }
  .article-creandoh-focus > p,
  .article-creandoh-challenges > p,
  .article-creandoh-process > p,
  .article-creandoh-admin > p,
  .article-creandoh-learning > p {
    width: 950px;
    text-align: justify;
  }
  .article-creandoh-focus > h3,
  .article-creandoh-challenges > h3,
  .article-creandoh-process > h3,
  .article-creandoh-admin > h3,
  .article-creandoh-learning > h3 {
    width: 100%;
    text-align: start;
    font-weight: 400;
  }
  .div-images-focus-creandoh {
    width: 1000px;
    height: auto;
    gap: 60px;
    margin-top: var(--pf-margin-s);
  }
  .div-images-focus-creandoh > div:first-child {
    width: 600px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    border-radius: var(--pf-br1);
  }
  .div-images-focus-creandoh > div:first-child > img {
    height: 110%;
    width: 100%;
    object-fit: cover;
  }
  .div-images-focus-creandoh > div:last-of-type {
    width: 270px;
    height: 500px;
  }
  .div-creandoh-challenges-img {
    width: 950px;
    height: auto;
  }
  .div-creandoh-process-img2 {
    width: 900px;
    height: auto;
  }
  .div-creandoh-admin-images {
    width: 1000px;
    height: auto;
    margin-top: var(--pf-margin-l);
  }
  .div-creandoh-admin-images > img {
    width: 259px;
  }
  .article-creandoh-learning > img:first-of-type {
    width: 950px;
  }
}
@media (max-width: 1300px) {
  .div-creandoh-main-image {
    width: 750px;
    height: 200px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-creandoh-main-image > img {
    object-position: 0 -100px;
  }
  .ul-creandoh-main {
    gap: 15px;
    width: 700px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-creandoh-main > li {
    font-size: 14px;
    width: auto;
    gap: 15px;
    letter-spacing: 1.2px;
    height: auto;
  }
  .article-creandoh-focus,
  .article-creandoh-challenges,
  .article-creandoh-process,
  .article-creandoh-admin,
  .article-creandoh-learning {
    width: 800px;
    padding: var(--pf-padding-m) var(--pf-padding-m);
  }
  .article-creandoh-focus > p,
  .article-creandoh-challenges > p,
  .article-creandoh-process > p,
  .article-creandoh-admin > p,
  .article-creandoh-learning > p {
    width: 100%;
    line-height: 2.2;
  }
  .article-creandoh-focus > h3,
  .article-creandoh-challenges > h3,
  .article-creandoh-process > h3,
  .article-creandoh-admin > h3,
  .article-creandoh-learning > h3 {
    text-align: center;
  }
  .div-scheme-creandoh {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
  }
  .big-icon-scheme-web-design {
    height: 45px !important;
    width: 45px !important;
  }
  .div-images-focus-creandoh {
    width: 100%;
    height: auto;
    gap: 40px;
    margin-top: var(--pf-margin-s);
  }
  .div-images-focus-creandoh > div:first-child {
    width: 450px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    border-radius: var(--pf-br1);
  }
  .div-images-focus-creandoh > div:first-child > img {
    height: 110%;
    width: 100%;
  }
  .div-images-focus-creandoh > div:last-of-type {
    width: 290px;
    height: 500px;
  }
  .div-creandoh-challenges-img {
    width: 100%;
  }
  .div-creandoh-process-img1 {
    width: 105%;
    height: auto;
  }
  .div-creandoh-process-img2 {
    width: 100%;
    height: auto;
  }
  .div-creandoh-admin-images {
    width: 100%;
    height: auto;
  }
  .div-creandoh-admin-images > img {
    width: 225px;
  }
  .article-creandoh-learning > img:first-of-type {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .div-creandoh-main-image {
    width: 550px;
    height: 150px;
    margin-bottom: var(--pf-margin-m);
  }
  .div-creandoh-main-image > img {
    object-position: 0 -65px;
  }
  .ul-creandoh-main {
    gap: 15px;
    width: 550px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-creandoh-main > li {
    font-size: 14px;
  }
  .article-creandoh-focus,
  .article-creandoh-challenges,
  .article-creandoh-process,
  .article-creandoh-admin,
  .article-creandoh-learning {
    width: 550px;
    padding: var(--pf-padding-m) 0;
  }
  .article-creandoh-focus > p,
  .article-creandoh-challenges > p,
  .article-creandoh-process > p,
  .article-creandoh-admin > p,
  .article-creandoh-learning > p {
    line-height: 2;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .article-creandoh-focus > h3,
  .article-creandoh-challenges > h3,
  .article-creandoh-process > h3,
  .article-creandoh-admin > h3,
  .article-creandoh-learning > h3 {
    text-align: center;
    font-size: 17px;
  }
  .big-icon-scheme-web-design {
    height: 40px !important;
    width: 40px !important;
  }
  .div-images-focus-creandoh {
    gap: 30px;
  }
  .div-images-focus-creandoh > div:first-child {
    width: 430px;
    height: 400px;
  }
  .div-images-focus-creandoh > div:first-child > img {
    height: 110%;
    width: 100%;
  }
  .div-images-focus-creandoh > div:last-of-type {
    width: 310px;
    height: 400px;
  }
  .div-creandoh-admin-images > img {
    width: 300px;
  }
  .article-creandoh-learning > img {
    width: 100%;
  }
  .article-creandoh-link {
    height: 80px;
  }
  .article-creandoh-link > a {
    font-size: 15px;
    letter-spacing: 1.2px;
  }
  .logo-link-creandoh {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 650px) {
  #section-creandoh-project {
    padding: 0 var(--pf-padding-section) var(--pf-padding-m)
      var(--pf-padding-section);
  }
  .article-creandoh-main {
    gap: 10px;
    margin: var(--pf-margin-section) 0 var(--pf-margin-xl) 0;
  }
  .div-creandoh-main-image {
    width: 300px;
    height: 130px;
    border-radius: 80px 80px var(--pf-br1) var(--pf-br1);
  }
  .div-creandoh-main-image > img {
    object-position: -55px -45px;
    width: 140%;
  }
  .ul-creandoh-main {
    gap: 5px;
    width: 280px;
    height: auto;
    flex-wrap: wrap;
  }
  .ul-creandoh-main > li {
    font-size: 11px;
    gap: 5px;
  }
  .article-creandoh-focus,
  .article-creandoh-challenges,
  .article-creandoh-process,
  .article-creandoh-admin,
  .article-creandoh-learning {
    width: 250px;
    padding: var(--pf-padding-m) 0;
  }
  .article-creandoh-focus > h3,
  .article-creandoh-challenges > h3,
  .article-creandoh-process > h3,
  .article-creandoh-admin > h3,
  .article-creandoh-learning > h3 {
    font-size: 15px;
  }
  .div-scheme-creandoh {
    gap: 5px;
  }
  .big-icon-scheme-web-design {
    height: 35px !important;
    width: 35px !important;
  }
  .div-images-focus-creandoh {
    gap: 30px;
    flex-direction: column;
  }
  .div-images-focus-creandoh > div:first-child {
    width: 250px;
    height: 350px;
  }
  .div-images-focus-creandoh > div:first-child > img {
    height: 110%;
    width: 100%;
  }
  .div-images-focus-creandoh > div:last-of-type > img {
    height: auto;
    width: 120%;
    object-position: -25px 0;
  }
  .div-images-focus-creandoh > div:last-of-type {
    width: 250px;
    height: 350px;
  }
  .div-creandoh-challenges-img > img:first-of-type {
    display: none;
  }
  .div-creandoh-process-img1 {
    height: 360px;
    margin: var(--pf-margin-m);
  }
  .div-creandoh-process-img1 > img:first-of-type {
    display: none;
  }
  .div-creandoh-process-img1 > img:last-of-type {
    display: block;
    width: 100%;
  }
  .img-creandoh-challenges-mobile {
    display: block;
    width: 100%;
  }
  .div-creandoh-process-img2 {
    background-color: red;
    width: 250px;
    height: 350px;
  }
  .div-creandoh-process-img2 > img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: -227px 0;
  }
  .div-creandoh-admin-images > img {
    width: 250px;
    height: 350px;
  }
  .article-creandoh-learning > img:first-of-type {
    display: none;
  }
  .article-creandoh-learning > img:last-of-type {
    display: block;
    width: 100%;
    border-radius: var(--pf-br1);
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    margin: var(--pf-margin-m) 0 var(--pf-margin-xl) 0;
  }
  .article-creandoh-link {
    height: 150px;
    width: 300px;
    flex-direction: column;
  }
  .article-creandoh-link > a {
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    text-align: center;
  }
  .logo-link-creandoh {
    height: 40px;
    width: 40px;
  }
}
