@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100svh;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

:root {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  /*BRANDING-COLORS*/
  --pf-color1: #ffffff;
  --pf-color2: rgb(31, 29, 29);
  --pf-color3: rgb(202, 194, 188);
  --pf-color4: #6b9a73;
  --pf-color5: rgb(135, 138, 203);
  --pf-color6: rgb(196, 91, 110);

  /*BACKGROUND COLORS*/
  --pf-first-bg: var(--pf-color1);
  --pf-second-bg: var(--pf-color5);
  --pf-third-bg: var(--pf-color4);
  --pf-forth-bg: var(--pf-color6);
  --pf-fifth-bg: var(--pf-color3);

  /*TEXT COLORS*/
  --pf-first-text: var(--pf-color2);
  --pf-second-text: var(--pf-color1);
  --pf-third-text: var(--pf-color4);
  --pf-forth-text: var(--pf-color6);

  /*SPACING*/
  --pf-margin-xs: 10px;
  --pf-margin-s: 20px;
  --pf-margin-m: 30px;
  --pf-margin-l: 40px;
  --pf-margin-xl: 50px;
  --pf-margin-section: 100px;

  --pf-padding-xs: 10px;
  --pf-padding-s: 20px;
  --pf-padding-m: 30px;
  --pf-padding-l: 40px;
  --pf-padding-xl: 50px;
  --pf-padding-section: 100px;

  /*BORDER RADIUS*/
  --pf-br1: 20px;
  --pf-br2: 160px;

  /*PROJECTS*/

  .article-projects {
    width: 100%;
    height: auto;
    margin-top: 150px;
    gap: 130px;
    margin-bottom: 80px;
  }

  .div-project {
    width: 350px;
    height: 430px;
    padding: var(--pf-padding-s);
    border: 1.8px solid var(--pf-color2);
    cursor: pointer;
    filter: brightness(0.8);
    box-shadow: 0 5px 35px 0px rgba(135, 87, 124, 0.5);
    border-radius: var(--pf-br1) var(--pf-br1);
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .div-project:hover {
    transform: scale(1.02);
    filter: brightness(0.9);
    box-shadow: 0 5px 35px 0px rgba(196, 91, 110, 0.4);
  }
  .div-project h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: var(--pf-margin-s);
    letter-spacing: 2px;
  }
  .div-project h4 {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    letter-spacing: 1.5px;
  }
  .div-project > img {
    width: 100%;
    height: 300px;
    border-radius: var(--pf-br1);
  }
  @keyframes vibrar {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }
  p {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 2;
    font-weight: 400;
  }
  .square-green {
    width: 7px;
    color: var(--pf-color4);
  }

  /*Media Queries*/
  @media (max-width: 1550px) {
    .article-projects {
      margin-top: 100px;
      gap: 80px;
      margin-bottom: 80px;
      height: 500px;
    }
    .div-project {
      width: 310px;
      height: 390px;
      border: 1.8px solid var(--pf-color2);
    }
    .div-project h3 {
      font-size: 15px;
      letter-spacing: 1.2px;
    }
    .div-project h4 {
      font-size: 14px;
    }
    .div-project > img {
      height: 260px;
    }
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  @media (max-width: 1300px) {
    .article-projects {
      margin-top: 100px;
      flex-direction: column;
      gap: 80px;
      margin-bottom: 30px;
      height: auto;
    }
    .div-project {
      width: 350px;
      height: 430px;
      border: 1.5px solid var(--pf-color2);
    }
    .div-project h3 {
      font-size: 16px;
      letter-spacing: 1.2px;
    }
    .div-project h4 {
      font-size: 15px;
    }
    .div-project > img {
      height: 300px;
    }
  }

  @media (max-width: 850px) {
    .article-projects {
      margin-top: 100px;
      flex-direction: column;
      gap: 80px;
      margin-bottom: 30px;
      height: auto;
    }
    .div-project {
      width: 280px;
      height: 370px;
      border: 1.3px solid var(--pf-color2);
    }
    h2 {
      font-size: 18px;
    }
    .div-project h3 {
      font-size: 14px;
      letter-spacing: 1.2px;
    }
    .div-project h4 {
      font-size: 13px;
    }
    .div-project > img {
      height: 240px;
    }
  }
  @media (max-width: 650px) {
    .article-projects {
      margin-top: 50px;
      flex-direction: column;
      gap: 80px;
      margin-bottom: 30px;
      height: auto;
    }
    .div-project {
      width: 230px;
      height: 320px;
      border: 1.3px solid var(--pf-color2);
    }
    h2 {
      font-size: 16px;
    }
    .div-project h3 {
      font-size: 13px;
      letter-spacing: 1px;
    }
    .div-project h4 {
      font-size: 12px;
    }
    .div-project > img {
      height: 190px;
    }
  }
}
